/* #home {
	background: #47916c;
	color: white;
} */

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

.container {
    text-align: justify;
}

.titulo {
    text-align: start;
}

.footer {
    background-color: #dffcee;
    padding-top: 20px;
    border-top: 1px solid #47916c;
    margin-top: 20px;
}


/*  */

#nav1 {
    background: linear-gradient(to right, #47916c, #2c3e50);
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    /* Borda arredondada */
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    /* Transição suave */
}

.image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Transição suave */
}

.image-container:hover .image-caption {
    opacity: 0.7;
    /* Mostra a legenda ao passar o mouse */
}

.image-container:hover img {
    transform: scale(1.1);
    /* Aumenta o tamanho da imagem ao passar o mouse */
}

.animacao {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animacao.aparecer {
    opacity: 1;
    transform: translateY(0);
}



.image-container {
    position: relative;
    overflow: hidden;
    height: 300px;
    /* Altura fixa para todos os contêineres das imagens */
}

.image-container img {
    width: 100%;
    height: 100%;
    /* Cobrir toda a altura do contêiner */
    object-fit: cover;
    /* Redimensiona a imagem para cobrir o contêiner, mantendo a proporção */
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    /* Transição suave */
}

.image-container:hover .image-caption {
    transform: translateY(0);
}


/* Adicione estilos comuns para os títulos dos accordion-items */
.accordion-title {
    padding: 15px; /* Adicione padding para espaçamento interno */
    margin: 0; /* Remova margens para garantir consistência */
    color: #000; /* Defina a cor do texto para preto */
    font-size: 18px; /* Defina o tamanho do texto */
    text-align: center; /* Centralize o texto */
    cursor: pointer; /* Altere o cursor para indicar que é clicável */
}

/* Estilos para o conteúdo dos accordion-items */
.accordion-content {
    padding: 15px; /* Adicione padding para espaçamento interno */
    margin: 0; /* Remova margens para garantir consistência */
    color: #000; /* Defina a cor do texto para preto */
    font-size: 16px; /* Defina o tamanho do texto */
    text-align: justify; /* Justifique o texto */
}

/* Adicione as cores específicas para cada título */
#pa1-titulo,
#pa2-titulo,
#pa3-titulo {
    background-color: #D5FCDB;
}

#pa4-titulo {
    background-color: #BDE5FF;
}

#pa5-titulo {
    background-color: #F4B5B6;
}

#pa6-titulo {
    background-color: #F3EEC6;
}

#saber-mais {
    background: #47916c;
}